.Post-comments {
	margin-bottom: 20px;
}

input[type="button"]{
	margin-left: 20px;
	margin-bottom: 10px;
	font-size: 16px;
	padding: 0;
	border: none;
	background: none;
	font-weight: 550;
	color: #A8A8A8;
}